<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :createdAt %>
    <%= form.datetime_select :createdAt %>
  </div>

  <div class="field">
    <%= form.label :lastEdit %>
    <%= form.datetime_select :lastEdit %>
  </div>

  <%
=begin%>
 <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div> 
<%
=end%>

  <div class="field">
    <%= fields_for(User.all) do |ab| %>

    <%= form.label :user_id %>
      
      <%= collection_select(
        :comment,
        :user_id,
        User.all,
        :id,
        :name,
        prompt: true
      ) %>

    <% end %>
  </div>

  <%
=begin%>
 <div class="field">
    <%= form.label :wine_id %>
    <%= form.text_field :wine_id %>
  </div>   
<%
=end%>

  <div class="field">
    <%= fields_for(Wine.all) do |ab| %>

    <%= form.label :wine_id %>
      
      <%= collection_select(
        :comment,
        :wine_id,
        Wine.all,
        :id,
        :name,
        prompt: true
      ) %>

    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
