<p id="notice"><%= notice %></p>

<h1>Wine Makers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wine_makers.each do |wine_maker| %>
      <tr>
        <td><%= wine_maker.name %></td>
        <td><%= link_to 'Show', wine_maker %></td>
        <td><%= link_to 'Edit', edit_wine_maker_path(wine_maker) %></td>
        <td><%= link_to 'Destroy', wine_maker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wine Maker', new_wine_maker_path %>
