<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @book.nom %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Datepublication:</strong>
  <%= @book.datePublication %>
</p>

<p>
  <strong>Auteur:</strong>
  <%= @book.auteur %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @book.prix %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
